<!DOCTYPE html>
<html lang="en">
<head>
<title>Censical</title>
<meta charset="UTF-8">
<!-- type="text/css" -->
<link rel="stylesheet"  href="{{ url_for('static', filename ='css/style.css') }}">

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap" rel="stylesheet">
</head>


<body>

<!----------------- SECTION: TOP BACKGROUND --------------------->
<section id="topbg">
	
  <div class="wrapper">

  <header class="banner">
    <h3 id="headline">Making sense of the census</h3>
  	<h1 id="name">Censical</h1>
  </header>

  <!-- end wrapper -->
  </div>

<!-- end top background section -->
</section>


<!---------------------- SECTION: Topic ---------------------->

<section class="topic">

<div class="wrapper">

<header>
  <h2 class="center">Choose Subject</h2>
</header>


<form method="POST" action="/">
  <div class="category flexrow">
    <div class="ca" id="ca1">
    <h4>Population</h4>
    <ul>
      <li>Total Population<input type="checkbox" name="subject" value="1"></li>
      <li>Total Population<input type="checkbox" name="subject" value="2"></li>
      <li>Percentage of Population<input type="checkbox" name="subject" value="3"></li>
      <li>Median Age<input type="checkbox" name="subject" value="4"></li>
    </ul>
    </div>

    <div class="ca" id="ca2">
    <h4>Household</h4>
    <ul>
      <li>Median Income<input type="checkbox" name="subject" value="5"></li>
      <li>Median Rent<input type="checkbox" name="subject" value="6"></li>
    </ul>
    </div>
    
  </div>
</form>

<div id="state">
  <header><h2 class="center">Choose State</h2><header>
    <form method="POST" action="/">
      <table class="selection">
        <tr>
          <td>Alabama<input type="checkbox" name="state" value="AL"></td>
          <td>Alaska<input type="checkbox" name="state" value="AL"></td>
          <td>Arizona<input type="checkbox" name="state" value="AL"></td>
          <td>Arkansas<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Catdfornia<input type="checkbox" name="state" value="AL"></td>
          <td>Colorado<input type="checkbox" name="state" value="AL"></td>
          <td>Connecticut<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Delaware<input type="checkbox" name="state" value="AL"></td>
          <td>DC<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Florida<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Georgia<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Hawaii<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Idaho<input type="checkbox" name="state" value="AL"></td>
          <td>Iltdnois<input type="checkbox" name="state" value="AL"></td>
          <td>Indiana<input type="checkbox" name="state" value="AL"></td>
          <td>Iowa<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Kansas<input type="checkbox" name="state" value="AL"></td>
          <td>Kentucky<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Louisiana<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Maine<input type="checkbox" name="state" value="AL"></td>
          <td>Maryland<input type="checkbox" name="state" value="AL"></td>
          <td>Massachusetts<input type="checkbox" name="state" value="AL"></td>
          <td>Michigan<input type="checkbox" name="state" value="AL"></td>
          <td>Minnesota<input type="checkbox" name="state" value="AL"></td>
          <td>Mississippi<input type="checkbox" name="state" value="AL"></td>
          <td>Missouri<input type="checkbox" name="state" value="AL"></td>
          <td>Montana<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Nebraska<input type="checkbox" name="state" value="AL"></td>
          <td>Nevada<input type="checkbox" name="state" value="AL"></td>
          <td>New Hampshire<input type="checkbox" name="state" value="AL"></td>
          <td>New Jersey<input type="checkbox" name="state" value="AL"></td>
          <td>New Mexico<input type="checkbox" name="state" value="AL"></td>
          <td>New York<input type="checkbox" name="state" value="AL"></td>
          <td>Nortd Carotdna<input type="checkbox" name="state" value="AL"></td>
          <td>Nortd Dakota<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Ohio<input type="checkbox" name="state" value="AL"></td>
          <td>Oklahoma<input type="checkbox" name="state" value="AL"></td>
          <td>Oregon<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Pennsylvania<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Rhode Island<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Soutd Carotdna<input type="checkbox" name="state" value="AL"></td>
          <td>Soutd Dakota<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Tennessee<input type="checkbox" name="state" value="AL"></td>
          <td>Texas<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Utah<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Vermont<input type="checkbox" name="state" value="AL"></td>
          <td>Virginia<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Washington<input type="checkbox" name="state" value="AL"></td>
          <td>West Virginia<input type="checkbox" name="state" value="AL"></td>
          <td>Wisconsin<input type="checkbox" name="state" value="AL"></td>
          <td>Wyoming<input type="checkbox" name="state" value="AL"></td>
        </tr>
        <tr>
          <td>Puerto Rico<input type="checkbox" name="state" value="AL"></td>
        </tr>
      </table>
    </form>
</div>
 
<div id="request" onclick="showResult()"><input type="submit" name="request" id="submit" onclick="showResult()"></div>
 
<!-- end .wrapper -->
</div>

</section>


<!---------------------- SECTION: BOTTOM ---------------------->
<section class="bottom">

<div class="wrapper">

<div id="result">
  <h2 class="center">Results</h2>

  <div>
    
  </div>
  
</div>


<!-- end wrapper -->
</div>

<!-- back to top button -->
<div class="center" id="backtop">
  <br>
  <h3>Created by Umari -- Ajay, Bryan, Erik, Sherry</h3>
  <p id="to-top">Back to Top <span>&#8593;</span></p>
</div>

<!-- end footer/bottom section -->
</section>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename ='js/jquery.js') }}" charset="utf-8"></script>

</html>