<!DOCTYPE html>
<html lang="en">
<head>
<title>Censical</title>
<meta charset="UTF-8">
<!-- type="text/css" -->
<link rel="stylesheet"  href="{{ url_for('static', filename ='css/style.css') }}">

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap" rel="stylesheet">
</head>


<body>

<!----------------- SECTION: TOP BACKGROUND --------------------->
<section id="topbg">
	
  <div class="wrapper">

  <header class="banner">
    <h3 id="headline">Making sense of the census</h3>
  	<h1 id="name">Censical</h1>
  </header>

  <!-- end wrapper -->
  </div>

<!-- end top background section -->
</section>


<!---------------------- SECTION: Topic ---------------------->

<section class="topic">

<div class="wrapper">

<header>
  <h2 class="center">Choose Subject</h2>
</header>


<form method="POST" action="/runQuery">
  <div class="category flexrow">
    <div class="ca" id="ca1">
    <h4>Population</h4>
    <ul>
      <li>Total Population<input type="checkbox" name="subject" value="totalPop"></li>
      <li>Percentage of Population<input type="checkbox" name="subject" value="percentPop"></li>
      <li>Median Age<input type="checkbox" name="subject" value="MedianAges"></li>
    </ul>
    </div>

    <div class="ca" id="ca2">
    <h4>Household</h4>
    <ul>
      <li>Median Income<input type="checkbox" name="subject" value="MedianIncome"></li>
      <li>Median Rent<input type="checkbox" name="subject" value="MedianRent"></li>
    </ul>
    </div>
    
  </div>
<!-- </form> -->

<div id="state">
  <header><h2 class="center">Choose State</h2></header>
    <!-- <form method="POST" action="/runQuery"> -->   
      <table class="selection">
        <tr>
          <td>Alabama<input type="checkbox" name="state" value="AL"></td>
          <td>Alaska<input type="checkbox" name="state" value="AK"></td>
          <td>Arizona<input type="checkbox" name="state" value="AZ"></td>
          <td>Arkansas<input type="checkbox" name="state" value="AR"></td>
          <td>California<input type="checkbox" name="state" value="CA"></td>
        </tr>
        <tr>
          <td>Colorado<input type="checkbox" name="state" value="CO"></td>
          <td>Connecticut<input type="checkbox" name="state" value="CT"></td>
          <td>Delaware<input type="checkbox" name="state" value="DE"></td>
          <td>DC<input type="checkbox" name="state" value="DC"></td>
          <td>Florida<input type="checkbox" name="state" value="FL"></td>
        </tr>
        <tr>
          <td>Georgia<input type="checkbox" name="state" value="GA"></td>
          <td>Hawaii<input type="checkbox" name="state" value="HI"></td>
          <td>Idaho<input type="checkbox" name="state" value="ID"></td>
          <td>Illinois<input type="checkbox" name="state" value="IL"></td>
          <td>Indiana<input type="checkbox" name="state" value="IN"></td>
        </tr>
        <tr>
          <td>Iowa<input type="checkbox" name="state" value="IA"></td>
          <td>Kansas<input type="checkbox" name="state" value="KS"></td>
          <td>Kentucky<input type="checkbox" name="state" value="KY"></td>
          <td>Louisiana<input type="checkbox" name="state" value="LA"></td>
          <td>Maine<input type="checkbox" name="state" value="ME"></td>
        </tr>
        <tr>
          <td>Maryland<input type="checkbox" name="state" value="MD"></td>
          <td>Massachusetts<input type="checkbox" name="state" value="MA"></td>
          <td>Michigan<input type="checkbox" name="state" value="MI"></td>
          <td>Minnesota<input type="checkbox" name="state" value="MN"></td>
          <td>Mississippi<input type="checkbox" name="state" value="MS"></td>
        </tr>
        <tr>
          <td>Missouri<input type="checkbox" name="state" value="MO"></td>
          <td>Montana<input type="checkbox" name="state" value="MT"></td>
          <td>Nebraska<input type="checkbox" name="state" value="NE"></td>
          <td>Nevada<input type="checkbox" name="state" value="NV"></td>
          <td>New Hampshire<input type="checkbox" name="state" value="NH"></td>
        </tr>
        <tr>
          <td>New Jersey<input type="checkbox" name="state" value="NJ"></td>
          <td>New Mexico<input type="checkbox" name="state" value="NM"></td>
          <td>New York<input type="checkbox" name="state" value="NY"></td>
          <td>North Carolina<input type="checkbox" name="state" value="NC"></td>
          <td>North Dakota<input type="checkbox" name="state" value="ND"></td>
        </tr>
        <tr>
          <td>Ohio<input type="checkbox" name="state" value="OH"></td>
          <td>Oklahoma<input type="checkbox" name="state" value="OK"></td>
          <td>Oregon<input type="checkbox" name="state" value="OR"></td>
          <td>Pennsylvania<input type="checkbox" name="state" value="PA"></td>
          <td>Rhode Island<input type="checkbox" name="state" value="RI"></td>
        </tr>
        <tr>
          <td>South Carolina<input type="checkbox" name="state" value="SC"></td>
          <td>South Dakota<input type="checkbox" name="state" value="AL"></td>
          <td>Tennessee<input type="checkbox" name="state" value="TN"></td>
          <td>Texas<input type="checkbox" name="state" value="TX"></td>
          <td>Utah<input type="checkbox" name="state" value="UT"></td>
        </tr>
        <tr>
          <td>Vermont<input type="checkbox" name="state" value="VT"></td>
          <td>Virginia<input type="checkbox" name="state" value="VA"></td>
          <td>Washington<input type="checkbox" name="state" value="WA"></td>
          <td>West Virginia<input type="checkbox" name="state" value="WV"></td>
          <td>Wisconsin<input type="checkbox" name="state" value="WI"></td>
        </tr>
        <tr>
          <td>Wyoming<input type="checkbox" name="state" value="WY"></td>
          <td>Puerto Rico<input type="checkbox" name="state" value="PR"></td>
        </tr>
      </table>
      <div id="request" onclick="showResult()"><input class="button" type="submit" name="request" id="submit" onclick="showResult()"></div>
    </form>
</div>
 

 
<!-- end .wrapper -->
</div>

</section>
<div>
  {%if display %}
  <h1><strong> {{display}} </strong></h1>
  {%endif%}
</div>

<!---------------------- SECTION: BOTTOM ---------------------->k
<section class="bottom">

<div class="wrapper">

<div id="result">
  <h2 class="center">Results</h2>

  <div>
    
  </div>
  
</div>


<!-- end wrapper -->
</div>

<!-- back to top button -->
<div class="center" id="backtop">
  <br>
  <h3>Created by Umari -- Ajay, Bryan, Erik, Sherry</h3>
  <p id="to-top">Back to Top <span>&#8593;</span></p>
</div>

<!-- end footer/bottom section -->
</section>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename ='js/jquery.js') }}" charset="utf-8"></script>

</html>